<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikewang.send.dao.NetloanUpdateMapper">
  <resultMap id="BaseResultMap" type="com.jikewang.send.domain.NetloanUpdate">
    <id column="appNo" jdbcType="INTEGER" property="appNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="bankNo" jdbcType="VARCHAR" property="bankNo" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="occupation" jdbcType="VARCHAR" property="occupation" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="appDate" jdbcType="TIMESTAMP" property="appDate" />
    <result column="mortgage" jdbcType="VARCHAR" property="mortgage" />
    <result column="productName" jdbcType="VARCHAR" property="productName" />
    <result column="installment" jdbcType="INTEGER" property="installment" />
    <result column="paymentDate" jdbcType="TIMESTAMP" property="paymentDate" />
    <result column="paymentAmount" jdbcType="DECIMAL" property="paymentAmount" />
    <result column="creditLimit" jdbcType="DECIMAL" property="creditLimit" />
    <result column="mothRepayAmount" jdbcType="DECIMAL" property="mothRepayAmount" />
    <result column="principalToBeRepay" jdbcType="DECIMAL" property="principalToBeRepay" />
    <result column="interestToBeRepay" jdbcType="DECIMAL" property="interestToBeRepay" />
    <result column="monthlyRepayDay" jdbcType="INTEGER" property="monthlyRepayDay" />
    <result column="ﬁrstRepayDate" jdbcType="TIMESTAMP" property="ﬁrstRepayDate" />
    <result column="overdueDays" jdbcType="INTEGER" property="overdueDays" />
    <result column="repaidTimes" jdbcType="INTEGER" property="repaidTimes" />
    <result column="leftTimes" jdbcType="INTEGER" property="leftTimes" />
    <result column="amountDue" jdbcType="DECIMAL" property="amountDue" />
    <result column="repaidAmount" jdbcType="DECIMAL" property="repaidAmount" />
    <result column="penaltyInterest" jdbcType="DECIMAL" property="penaltyInterest" />
    <result column="liquidatedDamages" jdbcType="DECIMAL" property="liquidatedDamages" />
    <result column="comprehensiveRate" jdbcType="DECIMAL" property="comprehensiveRate" />
    <result column="newCustomer" jdbcType="VARCHAR" property="newCustomer" />
    <result column="faceSigned" jdbcType="VARCHAR" property="faceSigned" />
    <result column="idCheck" jdbcType="VARCHAR" property="idCheck" />
    <result column="phoneCheck" jdbcType="VARCHAR" property="phoneCheck" />
    <result column="phoneArea" jdbcType="VARCHAR" property="phoneArea" />
    <result column="blacklistCheck" jdbcType="VARCHAR" property="blacklistCheck" />
    <result column="antifraudCheck" jdbcType="VARCHAR" property="antifraudCheck" />
    <result column="manualApproval" jdbcType="VARCHAR" property="manualApproval" />
    <result column="creditScoreCheck" jdbcType="VARCHAR" property="creditScoreCheck" />
  </resultMap>
  <sql id="Base_Column_List">
    appNo, `name`, idcard, phone, bankNo, address, occupation, company, appDate, mortgage, 
    productName, installment, paymentDate, paymentAmount, creditLimit, mothRepayAmount, 
    principalToBeRepay, interestToBeRepay, monthlyRepayDay, ﬁrstRepayDate, overdueDays, 
    repaidTimes, leftTimes, amountDue, repaidAmount, penaltyInterest, liquidatedDamages, 
    comprehensiveRate, newCustomer, faceSigned, idCheck, phoneCheck, phoneArea, blacklistCheck, 
    antifraudCheck, manualApproval, creditScoreCheck
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from netloan_update
    where appNo = #{appNo,jdbcType=INTEGER}
  </select>
  <select id="query" resultMap="BaseResultMap">
    select
    appNo, `name`, idcard, phone, bankNo, address, occupation, company,
    date_format(appDate,'%Y-%m-%d %H:%i:%s') appDate, mortgage,
    productName, installment,
    date_format(paymentDate,'%Y-%m-%d %H:%i:%s') paymentDate, paymentAmount, creditLimit, mothRepayAmount,
    principalToBeRepay, interestToBeRepay, monthlyRepayDay,
    date_format(ﬁrstRepayDate,'%Y-%m-%d %H:%i:%s') ﬁrstRepayDate, overdueDays,
    repaidTimes, leftTimes, amountDue, repaidAmount,
    comprehensiveRate, newCustomer, faceSigned, idCheck, phoneCheck, phoneArea, blacklistCheck,
    antifraudCheck, manualApproval, creditScoreCheck
    from app.netloan_update
    where appNo in
    <foreach collection="appNos" open="(" close=")" separator="," item="appNo">
      #{appNo}
    </foreach>
  </select>

  <select id="findWdAll" resultType="java.lang.Integer">
    select
      appNo
    from app.netloan_update
  </select>
  <select id="findFail" resultType="java.lang.Integer">
    select
      appNo
    from app.netloan_fail
    where `status`=1
  </select>

  <insert id="batchInsert">
    insert into app.netloan_fail (appNo, `status`)
    values
    <foreach collection="appNos" item="appNo" index="idx" separator=",">
      (#{appNo}, 1 )
    </foreach>
  </insert>

  <update id="batchUpdate" >
    update app.netloan_fail
    set  `status` = 2
    where
    appNo in
    <foreach collection="appNos" item="appNo" separator="," open="(" close=")">
      #{appNo}
    </foreach>
  </update>
</mapper>